* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: #e0f0f1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    outline: none;
    border: none;
    background-color: transparent; 
    cursor: pointer;
}

.list {
    width: 50%;
    background-color: #f3ecf9;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(148,143,148,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(148,143,148,1);
    box-shadow: 10px 10px 5px 0px rgba(148,143,148,1);
}

.header {
    padding: 10px;
    font-size: 48px;
    text-align: center;
    color: antiquewhite;
    background: rgb(151,228,240);
    background: linear-gradient(90deg, rgba(151,228,240,1) 0%, rgba(151,172,240,1) 47%, rgb(209, 189, 237) 100%);
    border-radius: 20px 20px 0 0;
}

.items {
    height: 38vh;
    overflow-y: auto;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
}

.item__delete {
    font-size: 18px;
    transition: all 300ms ease-in;
}

.item__delete:hover {
    color: red;
    transform: scale(1.2);
}

.item__divider {
    width: 90%;
    height: 2px;
    margin: auto ;
    background-color: #dbe0e0;
}

.footer {
    text-align: center;
    background: rgb(151,228,240);
    background: linear-gradient(90deg, rgba(151,228,240,1) 0%, rgba(151,172,240,1) 47%, rgb(209, 189, 237) 100%);
    border-radius: 0 0 20px 20px;
}

.footer__input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 8px;
}

.footer__add {
    font-size: 50px;
    border-radius: 50%;
    background-color: black;
    transition: transform 300ms ease-in;
}

.footer__add:hover {
    transform: scale(1.1);
}